/* ==========================================*/
/* PC */
@media (min-width: 991px) {
    /* General styles for forms */
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        text-align: center;
        padding: 20px;
    }

    h1 {
        color: #333;
    }

    form {
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: inline-block;
        width: 100px; /* Aumenta el ancho del formulario */
        max-width: 800px; /* Establece un ancho máximo para evitar que sea demasiado ancho */
    }


    label {
        display: block;
        margin: 10px 0 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #000000;
        color: #fff;
        font-size: 16px;
    }

    button:hover {
        background-color: #b2b9b2;
    }

    p {
        margin-top: 15px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
